<h1>Ember!</h1>
<ignite-card>
  <h2>Edit job</h2>
  <div class="field-container">
    <!--<ignite-field placeholder="Job name *"></ignite-field>-->
    <!--<ignite-field placeholder="Job code"></ignite-field>-->
  </div>
  <ignite-button button-label="SAVE"></ignite-button>
</ignite-card>